.titulo{
    padding-top: 3rem;
    font-weight: 900;
    font-size: xx-large;
    text-align: center;
}
.eliminarFondoBlanco{
    filter: brightness(1.1);
    mix-blend-mode: multiply;
  }
.centrarBtn{
    padding-top: 5rem;
    display: flex;
    justify-content: center;
}
.titleCartPrice {
    font-size: xx-large;
    text-align: center;
    font-weight: 800;
}

.ventanaModal{
    position: absolute;
    width: 400px;
    background-color: chartreuse;
    border: 2px solid black;
    box-shadow: 10px 5px 5px black;
    padding: 16px 32px 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modalCustomBtn{
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}